/*
    
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        https://i.imgur.com/gnZnY.png. 

    Spend no longer than 15 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.

*/

/*
    
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        https://i.imgur.com/gnZnY.png. 

    Spend no longer than 15 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.

*/
ul.a {
  list-style-type: circle;
}
ul li {
  color: gray;
  margin: 3px;
  font-size: 14px;
}

body {
  background-color: lightgreen;
  font-family: "Lucida Console", "Courier New", monospace;
}

.center {
  margin: auto;
  width: 75%;
  background-color: green;
  padding-top: 1px;
  padding-right: 90px;
  padding-bottom:2px;
  padding-left: 90px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white
 
}
img {
	border-radius: 50%;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding-top: 3px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
  font-family: "Lucida Console", "Courier New", monospace;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  font-family: "Lucida Console", "Courier New", monospace;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #f1f1f1;
  padding-bottom: 3px;
  
  
}
h2 {  margin: auto;
 
  color:white;
  padding-top: 15px;
  
  padding-bottom: 50px;
  padding-left: 10px;
  text-align: left;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 17px;
  background-image: "molecule_bg.png";
  }
p{
color:gray;
font-size: 14px;
}
p.projects{margin-left: 5px;
			font-size: 15px;
            color:black
}

h3{
font-size: 12px;
}
img.projects {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro-img{
  background-image: url("molecule_bg.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 50px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
h2.presentation{
		margin:auto;
          width: 75%;
          padding-top: 90px;
          padding-right: 90px;
          padding-bottom: 60px;
          padding-left: 90px;
          text-align: center;
          font-size: 14px;
}
p.presentation{
		margin:auto;
          width: 75%;
          background-color:black;
          padding-top: 8px;
          padding-right: 90px;

          padding-left: 90px;
          text-align: right;
}
