/*
    
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        https://i.imgur.com/gnZnY.png. 

    Spend no longer than 15 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.

*/

/*
    
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        https://i.imgur.com/gnZnY.png. 

    Spend no longer than 15 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{--bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    /* --text-color:#2a2a2a; */
    /* --second-color: #ccc; */
    --main-color: hsl(46, 98%, 63%);;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

.resume{
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 90;
    margin-bottom: 10rem;
    color:rgb(213, 216, 59);

}
    
body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45 ease;
    background:rgba(0, 0, 0, 0.5);
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
.navlist{
    display: flex;

}
.navlist a{
    color: var(--second-color);
    font-family:'Poppins';
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    margin-left: 15px;
    padding-left: 0px;
}

.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}

.menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index:10001;
    margin-left: 25px;
    display: none;
}

section{
    padding: 80px 15% 120px ;
}

.home{
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    /* background-image: url(b2.png); */
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(b2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

h1 {
    color: #fff;
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 90;
    line-height: 1;
    /* text-transform: uppercase; */
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
    top: 0px;
  }
  
h1 span {
    /* margin-top: 10px; */
    /* margin-bottom: 15px; */
    font-family: 'Poppins';
    font-size: 30px;
    bottom: 2px;
    /* margin-left: 40px; */
    /* bottom: 0rem; */
  }
  
.message {
    /* background-color: transo; */
    color: hsl(46, 98%, 63%);
    /* font-size: 20px; */
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    /* padding-bottom: 90px; */
    padding-left: 0.5rem; 
    border-top: 3rem;
    /* top: 20px; */
    left: 130px;
    bottom: 0.5rem;
    animation: openclose 5s ease-in-out infinite;
  }
  
.word1, .word2, .word3 {
    font-family:"Courier New";
    font-size: 1.5rem;
    /* left: 170px; */
    /* padding-left: 12rem;  */
    font-weight: 10;
    border-top: 3rem;
    /* height:2rem; */
    /* top: 6rem; */
    /* bottom: 0.5rem;
    top: 3rem; */
  }
/* .hc{
    background:rgba(0, 0, 0, 0.5);
    width: 25rem;
    font-size: 0.1rem;
    height: 3rem;
    padding-left: 15rem;  */

@keyframes openclose {
    0% {
      top: 0rem;
      width: 0;
        }
    5% {
        /* top: 2.5rem; */
      width: 0;
        }
    15% {
      /* top: 2.5rem;   */
      width: 700px;
        }
    30% {
      top: 0rem;
      width: 700px;
        }
    33% {
      top: 0rem;
      width: 0;
        }
    35% {
      top: -2rem;
      width: 0;
      /* bottom: -3rem; */
        }
    38% {
      top: -2rem;
      /* bottom: -2rem; */
      
        }
    48% {
      top: -2rem;
      width: 700px;
      /* bottom: -2rem; */
        }
    62% {
      top: -2rem;
      width: 700px;
      /* bottom: -2rem; */
        }
    66% {
      top: -2rem;
      width: 0;
      /* text-indent: 5px; */
      /* text-indent: 0; */
      /* bottom: -2rem; */
        }
    71% {
      top: -4rem;
      width: 0;
      /* text-indent: 5px; */
        }
    86% {
      top: -4rem;
      width: 500px;
        }
    95% {
      top: -4rem;
      width: 500px;
        }
    98% {
      top: -4rem;
      /* width:145px; */
      /* text-indent: 5px; */
        }
    100% {
      top: 0;
      width: 0;
      /* text-indent: 0; */
        }  
  }
  
  .home-text p{
      color: var(--second-color);
      font-family: 'Poppins';
      font-size: var(p-font);
      line-height: 1.8;
      margin-bottom: 40px;
  }
.slide span{font-family: 'Poppins';}

.work-portfolio{
    font-family: 'Poppins';
    border-top: 3rem;
    position: absolute;
    padding-top: 2rem;
}
.half{
    position:cover;
    padding-top: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(work1.png);
}
h3 span{
    font-family: 'Poppins';
    font-size: 25px;
}
p{
    font-family: 'Poppins';
    font-size: 15px;
} 

/* .about{ */
    /* position: cover;
    height: 100vh;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* background-image: url(b2.png); */
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(b2.png); */
    /* background-size: center;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(b1.png);
    width: 2000px; */
/* } */

.about-img{
    /* padding-left: 5rem; */
    position: center;
    padding-left:5rem;
    padding-top: 4rem;
   
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)) */
}
.work-aboutme{
    padding-top: 3rem;
}

.about-content{
    padding-left:25rem;
    display: block;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    padding-top: 1rem;
    font-family: 'Poppins';
    white-space: nowrap;
}

.about-content{
    padding-left:25rem;
    display: block;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    padding-top: 10rem;
    font-family: 'Poppins';
    white-space: nowrap;
}

.port-content{
    margin-left:43rem;
    display: block;
    line-height: 2;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    margin-top: 9.8rem;
    font-family: 'Poppins';
    white-space: nowrap;
    background: rgba(45, 51, 53, 0.986);
    margin-bottom: 2rem;
}
.port-content2{
    margin-left:43rem;
    display: block;
    line-height: 2;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    margin-top: 4.8rem;
    font-family: 'Poppins';
    white-space: nowrap;
    background: rgba(45, 51, 53, 0.986);
    margin-bottom: 2rem;
}
.port-content4{
    margin-left:43rem;
    display: block;
    line-height: 2;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    margin-top: 13.5rem;
    font-family: 'Poppins';
    white-space: nowrap;
    background: rgba(45, 51, 53, 0.986);
    margin-bottom: 2rem;
}

.port-content1{
    margin-left:50rem;
    display: block;
    font-size: 32px;
    font-weight: 1500;
    overflow: hidden;
    position: absolute;
    margin-top: 7.8rem;
    font-family: 'Poppins';
    white-space: nowrap;
    margin-bottom: 2rem;
    /* background: linear-gradient(transparent, rgba(4, 73, 88, 0.466)); */
}
.port-content3{
    margin-left:50rem;
    display: block;
    font-size: 32px;
    font-weight: 1500;
    overflow: hidden;
    position: absolute;
    margin-top: 2.8rem;
    font-family: 'Poppins';
    white-space: nowrap;
    margin-bottom: 2rem;
    /* background: linear-gradient(transparent, rgba(4, 73, 88, 0.466)); */
}
.port-content5{
    margin-left:50rem;
    display: block;
    font-size: 32px;
    font-weight: 1500;
    overflow: hidden;
    position: absolute;
    margin-top: 17rem;
    font-family: 'Poppins';
    white-space: nowrap;
    margin-bottom: 2rem;
    /* background: linear-gradient(transparent, rgba(4, 73, 88, 0.466)); */
}

.about-img-port{
    padding-top: .8rem;
}

.titles{
    margin-top: 3rem;
    font-size: 20px;
}


.portfolio{
    padding-top: 3.5rem;
    

}
.portfolio-content{
    /* padding-left:25rem; */
    display: block;
    /* font-weight: 400;
    overflow: hidden;
    position: absolute;
    padding-top: 10rem;
    font-family: 'Poppins';
    white-space: nowrap; */
    size: 30px;
    height:30%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7))

}


.link-socials{
    color:rgba(255, 255, 255, 0.719);
    font-family: "Poppins"
}

.socials{
    border-radius: 50%;
}

.socials-content{
    padding-left:25rem;
    display: flex;
    font-weight: 400;
    overflow: hidden;
    position: absolute;
    padding-top: 5rem;
    font-family: 'Poppins';
    white-space: nowrap;
    /* margin-bottom: 4rem; */
}

.footer {
    /* position: fixed; */
    left: 0;
    font-weight: 400;
    bottom: -13rem;
    padding-top: 3px;
    width: 100%;
    background: linear-gradient(transparent, rgba(10, 9, 10, 0.836));
    text-align: center;
    
 }

 .cv-button{
    background: linear-gradient(transparent, rgba(231, 160, 94, 0.836));
    color:white;

 }

 .titles1{
     margin-top: 11rem;
     font-size: 20px;
 }

 
.info1{
    margin-top: 7.5rem;
}

.info2{
    margin-top: 9rem;
}

.footer a:hover{
    color:rgba(149, 85, 209, 0.938)
}
