/*
    
    INSTRUCTIONS

    Using CSS properties alone, recreate this button: 

        https://i.imgur.com/gnZnY.png. 

    Spend no longer than 15 minutes on it, we don't 
    expect it to be a perfect match. It's open book, 
    feel free to hit Google but be prepared to 
    explain your solution.

*/

p{color:pink;}

body {
  background-color: lightgreen;
}

body {
  background-color: pink;
  font-family: "Lucida Console", "Courier New", monospace;
}

.center {
  margin: auto;
  width: 60%;

  
  background-color: lightblue;
  padding-top: 25px;
  padding-right: 90px;
  padding-bottom: 74px;
  padding-left: 90px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  background-image: url("img_tree.gif"), url("paper.gif");

}
